/* Cores e Fonte */
body {
    background-color: #DAC786; /* Cor de fundo suave */
    font-family:Georgia, 'Times New Roman', Times, serif;/* Fonte elegante */
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ----------------- form experiência ----------- */
}
/* dropdown menu */
.dropbtn {
    background-color:
    color white;
    padding: 14x;
    font-size: 14x;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 660px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}
/* Estilização do conteúdo */
.container {
    max-width: 1200px;
    margin: 100px auto 0; /* Adicionada margem superior para visibilidade do título */
    padding: 20px;

    padding-bottom: 40px; /* ------------------ form experiência ---------- */
}
h1, h3 {
    color: #333;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h3 {
    font-size: 1.8em;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Estilização das bebidas*/
.menu-item {
    background-color: #FFF5E1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
}

.menu-item p {
    font-size: 1.1rem;
}
/* Estilização dos pratos */
.pratos {
    background-color: #FFF5E1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pratos:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.pratos h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.8em;
    text-transform: uppercase;
}

.pratos p {
    margin-bottom: 10px;
    font-size: 1.1em;
}
/* Preços */
.preco {
    font-weight: bold;
    color: #333;
}
/* Imagens dos pratos */
.image {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Zoom quando a imagem é selecionada */
.image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Clube la petit */
form {
    background-color: white;
    padding: 20px;
    padding-right: 35px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 10px; /* Ajustado para mais espaço */
    background-color: #FFF5E1;
    color: #333;
    position: relative; /* Ajustado para permitir mais espaço */
    width: 100%;
    margin-top: 20px; /* Adicionada margem superior para espaçamento */
}

footer a {
    color: #04AA6D;
    text-decoration: none;
    margin: 0 10px;
}
